<% provide(:title, "Mailchimp Integration") %>
<% provide(:icon, "icon-cogs") %>

<div class="container">
  <div class="row-fluid">
    <div class="span12">

      <div class="content-box">
        <div class="row-fluid">
          <div class="span12" style="padding-left:10px;padding-right:10px;padding-top:10px;background-color:whitesmoke;border-bottom:1px solid #e8e8e8;">
            <%= render 'users/settings_nav', :active => "Mailchimp" %>
          </div>
        </div>

        <div class="row-fluid">
          <%= render 'shared/content_box_help', :message => "Here you can connect your Mailchimp and ZenMaid accounts. This enables you to synchronize your contacts between ZenMaid and Mailchimp and send emails (i.e., cleaning specials, announcements) to your clients and leads." %>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <%= render 'shared/flash_notice' %>

              <div class="span7 offset2 padded">

                <div class="blue-message">
                  <% if @auth %>
                    <strong>You have successfully integrated your ZenMaid and Mailchimp accounts!</strong>
                    <br><br>
                    Visit your <%= link_to 'contacts', customers_path %> page to sync your contacts to Mailchimp.
                    <br><br>
                    Once your contacts are synced, you will be able to create and send email campaigns to your leads, customers, or both within Mailchimp!
                  <% else %>
                    <strong><%= link_to 'Mailchimp', 'www.mailchimp.com' %> is a platform for creating and sending mass email campaigns.</strong> <br><br>

                    By syncing your contacts to Mailchimp, you'll be able to send them announcements, discounts, and special seasonal promotions. As a ZenMaid user, you'll have exclusive access to special marketing tempalates which we release periodically and are specifically designed to help you grow your business more quickly.

                    <br><br>
                    Click the button below to connect your ZenMaid and Mailchimp accounts. If you do not already have a Mailchimp account, you can create one <%= link_to 'here', 'https://login.mailchimp.com/signup' %>.
                  <% end %>
                </div>

                <div class="green-message">
                  
                  <%= link_to "#{@auth ?  'Switch to a different Mailchimp account' : 'Connect to Mailchimp'}".html_safe, mailchimp_authenticate_path, :class => "btn btn-info" %><br>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>