

<div class="container">

<div class="row-fluid">
	<div class="span12">
    	
  	<div class="content-box">

  	<div class="row-fluid">
    	<div class="span12">
      	<div class="padded">
  			
        <div class="row-fluid">
        <div class="span12">
        
          <div style="text-align:center;margin-bottom:20px;">
            <strong style="font-size:30px;line-height:100%;display:block;color:maroon;">
              LAST CHANCE! ONLY AVAILABLE UNTIL SUNDAY!
            </strong><br>

            <span class="cobalt-grey" style="display:block;font-size:24px;line-height:30px;margin-bottom:10px;">
              How to automate and grow your cleaning business: The ZenMaid Marketing System - The First and Only Marketing Software for Maid Services!
            </span>
          </div>
        
          <br>
          <div class="actions clearfix" style="border: red 5px solid;padding:10px;margin-bottom:20px;">
            <%= link_to "#sign-up-modal", :class => "btn btn-red btn-large", :style => "width:100%;font-size:24px;", :data => {:toggle => "modal" } do %>
              <i class="icon-shopping-cart"></i> I'M READY! Take Me To The Discounted Order Form <span style="color:blue">NOW!</span>
            <% end %>
          </div>
          <hr>
          <div style="text-align:center;border: dashed 2px black;padding:20px;margin-bottom:30px;">
            <strong style="font-size:35px;display:block;color:darkblue;background-color:yellow;line-height:50px;">
              "Yes, Amar, I'm in"
            </strong>
          </div>

          <div style="margin-left:25px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>I'm ready to</strong>
          </div>
          <ul class="benefits-list">
            <li>Transform my website into a customer-generating machine</li>
            <li>Improve my online reputation</li>
            <li>Increase my referrals</li>
            <li>Provide better service</li>
            <li>Automate and grow my maid service</li>
            <li>Get guidance from two of the top minds in the cleaning industry</li>
          </ul><hr>


          <div style="margin-left:25px;text-align:center;line-height:40px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>Here's A Quick Peek At What You'll Receive When You Take Fast Action Today</strong>
          </div>
          <ul class="benefits-list">
            <li>The ZenMaid Marketing System</li>
            <li>Consulting Hours with Amar and Sharon</li>
            <li>Guide on <span style="color:blue">How to Create a Spectacular Animated Video</span></li>
            <li><em>The Definitive Inbound Call Script</em></li>
            <li><em>Intertwining the Shiny and New with the Tried and True</em></li>
          </ul>

          <div class="actions clearfix" style="border: red 5px solid;padding:10px;margin-bottom:20px;">
            <%= link_to "#sign-up-modal", :class => "btn btn-red btn-large", :style => "width:100%;font-size:24px;", :data => {:toggle => "modal" } do %>
              <i class="icon-shopping-cart"></i> I'M READY! Take Me To The Discounted Order Form <span style="color:blue">NOW!</span>
            <% end %>
          </div>

          <hr>

          <div style="margin-left:25px;text-align:center;line-height:40px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>It’s Time To Resurrect Your Sales And Grab Hold Of A Better Life</strong>
          </div>
          <div style="font-size:20px;margin-left:25px;">
            <strong>Here's the story:</strong>
            <br>
            <br>
            After years of struggle, I was finally able to achieve the <strong>effortless growth and management</strong> of my maid service that I now enjoy.<br><br>

            I can honestly say that the discovery of my <strong>ZenMaid Marketing System</strong> broke me free from a life full of strain, debt, and stress.<br><br>

            Does your business own you? If so, I can relate... and the ZenMaid Marketing System can help set you free.<br><br>

            In just a few minutes, here's what you'll be doing:<br><br>
          </div>
          <ul class="benefits-list">
            <li>Enjoying more free time</li>
            <li>Enjoying a more profitable business</li>
            <li>Discovering the best processes to automate and grow your business</li>
          </ul><hr>

          <div style="margin-left:25px;text-align:center;line-height:40px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>Membership May Have It’s Privileges, Yet It Doesn’t Cost A King’s Ransom</strong>
          </div>
          <div style="font-size:20px;margin-left:25px;line-height:22px;">
            I've made it my mission to bring the results that I've acheived with <strong>The ZenMaid Marketing System</strong> to 100 maid services<br><br>

            This system took me years to figure out, and that work is worth more than a few measly bucks.<br><br>

            When we first developed the ZenMaid Marketing System, many marketers suggested a selling price of $350 - $400/mo, plus $600 for all the bonuses I'm offering you today. And you know what? It's worth that... maybe even 10 times that. And while I do offer the more aggressive above you private services that are in that price range, I was determined to be overly fair with the ZenMaid Marketing System.

            So I selected a price that would keep out the riff raff, while still being affordable to anyone serious about their marketing and their freedom from the burdens of a life filled with financial worry.<br><br>

            That's why I'm not asking you to invest $1,000 today, or $500, or even $200...<br><br>

            However, your investment today isn’t even <strong>half of half of HALF</strong> of the top price experts suggested I slap on the price tag...

          <div class="actions clearfix" style="border: red 5px solid;padding:10px;margin-top:10px;margin-bottom:20px;">
            <%= link_to "#sign-up-modal", :class => "btn btn-red btn-large", :style => "width:100%;font-size:24px;", :data => {:toggle => "modal" } do %>
              <i class="icon-shopping-cart"></i> I'M READY! Take Me To The Discounted Order Form <span style="color:blue">NOW!</span>
            <% end %>
          </div>
            
          </div><hr>

          <div style="margin-left:25px;text-align:center;line-height:40px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>What? You Want Bonuses or Something?</strong>
          </div>
          <div style="font-size:20px;margin-left:25px;line-height:22px;">
            <strong>I almost didn't include this part of the letter...</strong><br><br>

            And here's why:<br><br>

            If you need "bonuses" to tip your decision to "YES!", then you don't get it...<br><br>

            Let me spell it out:<br><br>

            <strong>This is the formula that will let you grow and manage your maid service effortlessly, and acheive the lifestyle of your dreams</strong><br><br>

            That said, there are some add-ons that I’d like you to have simply for having the courage to say YES today, because I really do want to help you succeed in ways you've never imagined.<br><br>

            <strong>Ready?</strong><br><br>
          </div>    
          <ul class="benefits-list">
            <li>1 hour with Sharon Tinberg (a $150 value)</li>
            <li>How to create a spectacular animated video for your maid service</li>
            <li>Lifetime access to our exclusive group: <em>Magnetic Marketing Strategies for Maid Services</em> ($49/mo value)</li>
            <li>The Inbound Call Script</li>
            <li><em>Intertwining the Shiny and New with the Tried and True</em> by Sharon Tinberg</li>
          </ul><hr>

          <div style="margin-left:25px;text-align:center;line-height:40px;margin-bottom:20px;color:maroon;font-size:24px;">
            <strong>Yes, I'll Even Gaurantee Your Success...</strong>
          </div>
          <div style="font-size:20px;margin-left:25px;line-height:22px;">
            I've dealt with skeptics since day one of releasing the ZenMaid Marketing System...<br><br>

            However, just to set your mind (and perhaps your partner) at ease, here’s my Triple Guarantee:<br><br>

            1. If you're not saving time in 14 days, OR<br><br>

            2. If you're not growing in 30 Days, OR<br><br>

            3. You just don't like the FONT using in the system... or the sound of my voice... or the color scheme<br><br>

            You name it. I'll give you your investment back, without question.<br><br>

            Here's all I ask -- <strong>actually use the damn thing</strong>! I know, SO demanding of me.<br><br>

            I'll even give you a personal coaching call to get you started.<br><br>
          </div>              

          <div style="text-align:center;border: dashed 2px black;padding:20px;margin-bottom:30px;">
            <strong style="font-size:25px;display:block;color:darkblue;line-height:30px;">
              One catch... I'm taking it off the market Sunday at midnight PST
            </strong>
          </div>

          <div class="actions clearfix" style="border: red 5px solid;padding:10px;margin-bottom:20px;">
            <%= link_to "#sign-up-modal", :class => "btn btn-red btn-large", :style => "width:100%;font-size:24px;", :data => {:toggle => "modal" } do %>
              <i class="icon-shopping-cart"></i> I'M READY! Take Me To The Discounted Order Form <span style="color:blue">NOW!</span>
            <% end %>
          </div>


        </div>
        </div>

        </div>
      </div>
    </div>
    </div>

  </div>
  
</div>

<%= render 'pricing_plans' %>

<div class="row-fluid">
  <div class="span12">
      
    <div class="content-box">

    <div class="row-fluid">
      <div class="span12">
        <div class="padded">
        
        <div class="row-fluid">
        <div class="span12">


          <div style="margin-left:25px;color:maroon;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>Amar, this sounds fantastic, but this really is a lot of money...</em></strong>
          </div>
          <div style="font-size:20px;margin-left:25px;margin-bottom:30px;line-height:22px;">
            Stop right there.<br><br>

            Think about what you're saying...<br><br>

            Here's the truth: Nothing like this exists anywhere else. There is no other system out there that will help you jumpstart your maid service's marketing like this AND help you manage it effectively.<br><br>

            I get that cash may be tight for you, but listen:<br><br>

            You can invest a reasonable amount today, and get your money back if you don't see IMMEDIATE results, no questions asked<br><br>

            OR... you can keep you money, bury it in the ground, or use it to hire another office assistant... or on another marketing campaign... and MAYBE see the results you want (though you'll probably have to spend 10X the money to get them)<br><br>

            Make the right decision for yourself and your business and take me up on this discount and granite-like gaurantee while it's still online for you:
          </div>        

          <div style="margin-left:25px;color:maroon;margin-bottom:10px;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>I'm not tech savvy... will I be able to use this?</em></strong>
          </div>
          <div style="font-size:20px;margin-left:25px;margin-bottom:30px;line-height:22px;">

            I've worked with a lot of cleaning services by this point, some young and hip and up-to-date on the latest web tech and some that are still run on pen and paper that have their cleaners drive to houses in a horse and carriage...<br><br>

            I've redesigned and tweaked the software countless times to make it as easy to use for even the most technophobic cleaning services<br><br>

            Not to mention, if you every have <strong>any</strong> problem at all, I'll be available to speak to you personally, by phone, email, or through our in-software messaging system.<br><br>

            Just ask any of our current customers, we provide legendary service.
          </div>  

         <div style="margin-left:25px;color:maroon;margin-bottom:10px;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>My customers aren't online...</em></strong>
          </div>
          <div style="font-size:20px;margin-left:25px;margin-bottom:30px;line-height:22px;">
            Your clients right now might not be online, but your future ones... the hip millenials who are buried in their smart phones... definitely are.<br><br>

            More and more people now are expecting their cleaning service to offer them the convenience of booking and communication online. If yours doesn't, then you better believe they'll go with one who will!<br><br>

            The bottom line is, if you want to <strong>grow your maid service</strong> in the 21st century, you NEED to have a strong online presence.<br><br>

            The techniques we teach and implement in the <strong>ZenMaid Marketing System</strong> are gauranteed to bring you in new business in the modern, internet-driven marketplace. 
          </div> 

          <div style="margin-left:25px;color:maroon;margin-bottom:10px;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>But I already use another software to manage my business...</em></strong>
          </div>
          <div style="font-size:20px;margin-left:25px;margin-bottom:30px;line-height:22px;">
            No problem, you can use The ZenMaid Marketing System to market and grow your maid service while using your existing system to manage it.<br><br>

            Who knows... maybe you'll like my system so much that you'll want to ditch your current management software too.
          </div> 

          <div style="margin-left:25px;color:maroon;margin-bottom:10px;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>I already have an office assistant...</em></strong>
          </div>
          <div style="font-size:20px;margin-left:25px;margin-bottom:30px;line-height:22px;">
            If you were to pay your office assistant to do everything that the ZenMaid Marketing System will do for you, you would have to pay them <strong>over $1,000 a month</strong>.<br><br>

            Not to mention training them... and making sure they execute properly...<br><br>

            If you're serious about growing your business, my system is the PROVEN cheapest and most effective way to do it. Bar none.
          </div> 

          <div class="actions clearfix" style="border: red 5px solid;padding:10px;margin-bottom:20px;">
            <%= link_to "#sign-up-modal", :class => "btn btn-red btn-large", :style => "width:100%;font-size:24px;", :data => {:toggle => "modal" } do %>
              <i class="icon-shopping-cart"></i> I'M READY! Take Me To The Discounted Order Form <span style="color:blue">NOW!</span>
            <% end %>
          </div>        

        </div>
        </div>


  
  			</div>
		  </div>
		</div>
	</div>

	</div>
	
	</div>
</div>

<%= render "sign_up_modal" %>