<% provide(:title, "Getting Started: Step 4") %>

<div class="container">

<div class="row-fluid">
	<div class="span12">
    	
  	<div class="content-box">

  	<div class="row-fluid">
    	<div class="span12">
      	<div class="padded">
  			
        <span style="font-size:24px;">Getting Started: Step 3 of 4</span>
        <hr>

         <div class="green-message">
          <span class="headline"><strong>Has bad communication with your cleaners ever lead to a lost customer or bad review?</strong> Mistakes happen, but they happen a lot less when using good software. </span>
          
          ZenMaid makes it easy to communicate the information your cleaners need to know to deliver sparkling homes and happy customers, every time.
        </div>

        <%= render 'shared/flash_notice' %>

        <%= form_for @user, :html => { :class => "form-horizontal uni template-form" }, :url => employee_management_onboarding_path, :defaults => {:required => false}, :method => :post do |f| %>

        <div class="row-fluid">
        <div class="span11 offset1">

        <div class="template-name" style="margin-bottom:20px;"><strong>Work Orders</strong>
        </div>
         <%= link_to 'View Example', '#', :class => "btn btn-inverse btn-mini preview-email-template", :data => { :id =>  @work_order_template.id} %>

          <%= f.fields_for :email_templates, @work_order_template do |template_builder| %>          
              <div class="control-group">
                <div class="controls">
                  <%= template_builder.check_box :time_offset, {}, -86400, nil %><strong>Send work orders for the following day to my cleaners by email the day before? </strong>
                </div>
              </div>       
          <% end %>

        </div>
        </div>



        <div class="row-fluid">
        <div class="span11 offset1">

        <div class="template-name" style="margin-bottom:20px;"><strong>Text Work Orders</strong>
        </div>
         <%= link_to 'View Example', '#', :class => "btn btn-blue btn-mini preview-text-template", :data => { :id =>  @text_work_order_template.id} %>


          <%= f.fields_for :text_templates, @text_work_order_template do |template_builder| %> 
              <div class="control-group">
                <div class="controls">
                  <%= template_builder.check_box :time_offset, {}, -86400, nil %><strong>Send schedules by text to my cleaners the day before?</strong>
                </div>
              </div>           
     
          <% end %>

        </div>
        </div>

        <div class="row-fluid">
        <div class="span11 offset1" style="margin-bottom:20px;">
          <div class="row-fluid">
          <div class="span10">
            <em>
            In addition to automatic emails and texts, ZenMaid makes it easy to communicate with your cleaners flexibly. <strong>Did a customer reschedule on you suddenly? Forget to mention something on a work order?</strong> No problem, send your team captain a quick text directly from the ZenMaid calendar. Need to email out work orders for the entire week or month to your cleaners? You can do it with just a few clicks! 
            </em>
          </div>
          </div>
        </div>

        <div class="row-fluid">
        <div class="span11 offset1">

        <div class="template-name"><strong>Employee Login</strong>
        </div>
          <div class="row-fluid subheading">
            <div class="span10">
              <em>Optionally, you can also let your cleaners login to ZenMaid and view their schedules by visiting www.zenmaid.com and clicking the 'Login' button in the top right corner.</em>
            </div>
          </div>

          <div class="control-group" style="margin-bottom:20px;">
            <div class="controls">
              <%= f.check_box :allow_employee_sign_in %><strong>Allow my employees to login to the system and view their schedules by default?</strong>
            </div>
          </div> 

        </div>
        </div>

        <div class="row-fluid">
        <div class="span11 offset1">

      <div class="template-name"><strong>Payroll</strong>
        </div>
          <div class="row-fluid subheading">
            <div class="span10">
              <em><strong>Tired of messy spreadsheets?</strong> Whether you pay your cleaners hourly, by revenue share, or flat rate, ZenMaid lets you calculate their wages in just a few minutes based on your calendar, keeping your staff honest and your business running smoothly.</em>
            </div>
          </div>

          <div class="control-group" style="margin-bottom:10px;">
          <div class="controls">
            <strong class="timing-label">How often do you run payroll?</strong>
            <%= f.select_recurring :payroll_timing, [
                IceCube::Rule.weekly.day(:friday),
                IceCube::Rule.weekly(2).day(:friday),
                IceCube::Rule.monthly.day_of_month(-1)
              ] %>
          </div>
          </div>

          <div class="control-group" style="margin-bottom:10px;">
          <div class="controls">
            <strong class="timing-label">How do you pay your cleaners?</strong>
            <%= f.select :default_pay_type, options_for_select([['Hourly', 'Hourly'], ['Revenue Share', 'Revenue Share'], ['Fixed Flat Rate', 'Fixed Flat Rate'], ['Variable Flat Rate', 'Variable Flat Rate']], @user.default_pay_type), {}, :id => "pay-type-input" %>
          </div>
          </div>

          <div id="pay-rate" style="display:none;">
            <div class="control-group">
            <div class="controls">
              <strong class="timing-label"><label>Amount?</label></strong>
              <%= f.text_field :default_pay_rate, :id => "pay-rate-input", :style => "width:100px;" %>
            </div>
            </div>
          </div>

        </div>
        </div>


        <div class="row-fluid" style="margin-top:20px;">
        <div class="span12">

        <%= link_to custom_fields_onboarding_path, :class => "btn btn-blue pull-left" do %>
          <i class="icon-arrow-left icon-white"></i><strong>Previous</strong> &nbsp; Information Tracking
        <% end %>

        <%= button_tag(type: 'submit', class: "btn btn-red pull-right") do %>
          Almost Done! &nbsp; <i class="icon-arrow-right icon-white"></i><strong>Next</strong>
        <% end %>

        </div>
        </div>

        <% end %>

  			</div>
     

		</div>
		</div>
	</div>
	</div>
	
	</div>
</div>
</div>

  <%= render 'preview_email_modal' %>
  <%= render 'preview_text_modal' %>
