<div class="modal fade hide" id="assignments-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Assign Cleaners</h4>
        </div>
        <div class="modal-body form-horizontal">
        	
        	<%= simple_form_for @appointment, :html => { :class => "form-horizontal uni" }, :remote => true, :method => :post, :url => update_assignments_appointment_path(@appointment.id) do |f| %>	
        	
        	<% if @user.teams.size > 0 %>
        		<%= f.input :team_id, :label => "Team", :collection => @user.teams.map { |team| [team.name, team.id] }, :wrapper_html => {:class => "compact-horizontal"}, :input_html => {:id => "team-field"} %>
        	<% else %>
				<%= render 'teams/no_teams_notification' %><hr>
			<% end %>
        	
        	<% if @user.employees.size > 0 %>
        	
				<div id="teams-employees-fields">
					<% i = 0 %>
					<%= f.simple_fields_for :assignments, @appointment.assignments.sort { |a, b| a.employee.first_name <=> b.employee.first_name } do |assignments_builder| %>
						<% i += 1 %>
						<%= assignments_builder.input :_destroy, :as => :boolean, :checked_value => '0', :unchecked_value => '1', :label => false, :wrapper_html => {:class => "inline"},
						:inline_label => assignments_builder.object.employee.full_name, :input_html => {:checked => assignments_builder.object.new_record? ? false : true } %>
						<%= assignments_builder.hidden_field :employee_id, :value => assignments_builder.object.employee_id %>
						<% if i % 2 == 0 %><br><% end %>
					<% end %>
				</div><hr>
			

				<% if @appointment.subscription.repeat %>
					<div class="checkbox darkblue">
						<%= f.input :assign_to, :as => :boolean, :label => false, :inline_label => "Assign selected cleaners to all future appointments in this recurring service?", :unchecked_value => "this", :checked_value => "future" %>				
					</div>
				<% end %>
			
				<div class="pull-right">
					<%= f.button :submit, "Assign Cleaners", :class => "btn btn-green" %>
				</div>
			
			<% else %>
       			<%= render 'employees/no_employees_notification' %><br>
			<% end %>
			
			<% end %>
		</div>
	</div>
	</div>
</div>