<table class="table table-bordered table-hover sent-on-table">
	<tr>
		<td>Appointment Reminder</td>
		<td id="appointment-reminder-text">
			<% if @appointment.sent_on["Appointment Reminder Text"].present? %>
				<span class="green">Sent on <%= @appointment.sent_on["Appointment Reminder Text"].strftime('%b %-d, %Y') %></span>
			<% elsif @customer.phone_numbers.where(:phone_number_type => "Cell").size == 0 %>
				<%= link_to edit_customer_path(@customer) do %>
					<i class="icon-edit"> </i> No customer cell number
				<% end %>	
			<% elsif @appointment_reminder_text.time_offset == nil || @appointment.status_id != @appointment_reminder_text.preferences[:after_status] %>
				<%= link_to edit_text_template_path(@appointment_reminder_text) do %>
					<i class="icon-calendar"></i> Not scheduled
				<% end %>
			<% elsif Time.zone.now > (@appointment.start_time + @appointment_reminder_text.time_offset).beginning_of_day + 15.hours %>
				Not sent
			<% else %>
				<span class="darkblue">Scheduled for <%= (@appointment.start_time + @appointment_reminder_text.time_offset.seconds).strftime('%b %-d') %></span>
			<% end %>
		</td>
	</tr>
	
	<tr>
		<td>Work Order</td>
		<td id="work-order-text">
			<% if @appointment.sent_on["Work Order Text"].present? %>
				<span class="green">Sent on <%= @appointment.sent_on["Work Order Text"].strftime('%b %-d, %Y') %></span>
			<% elsif @appointment.assignments.count == 0 %>
				<span class="red">No cleaners assigned</span>			
			<% elsif @work_order_text.time_offset.nil? %>
				<%= link_to edit_text_template_path(@work_order_text) do %>
					<i class="icon-calendar"></i> Not scheduled
				<% end %>
			<% elsif Time.zone.now > @appointment.start_time.beginning_of_day - 9.hours %>
				Not sent
			<% else %>
				<span class="darkblue">Scheduled for <%= (@appointment.start_time - 1.day).strftime('%b %-d') %></span>
			<% end %>
		</td>
	</tr>

	<% @untimed_text_templates.each do |name, template| %>
		<tr>
			<td><%= name %></td>
			<td>
				<% if @appointment.sent_on["#{name} Text"].present? %>
					<span class="green">Sent on <%= @appointment.sent_on["#{name} Text"].strftime('%b %-d, %Y') %></span>
				<% else %>
					Not Sent
				<% end %>
			</td>
		</tr>
	
	<% end %>

</table>
