<% provide(:title, "Edit Appointment Information") %>
<% provide(:icon, "icon-edit") %>

<div class="container">
<%= render 'shared/flash_notice' %>


<%= simple_form_for @subscription, :html => { :class => "form-horizontal uni" }, :defaults => {:required => false}, :method => :put, :url => appointment_path(@appointment) do |f| %>

<%= f.simple_fields_for :appointments, @appointment do |appointment_builder| %>

<div class="row-fluid">
<div class="span6">
	<div class="content-box">
  		<div class="content-box-header">
    		<i class="icon-person"></i> <%= @customer.full_name %> - Information
  		</div>

  		<div class="row-fluid">
      		<div class="span12 padded">
				<%= render 'contact_info' %>
				<%= link_to "View Customer Activity and Past Cleanings", @customer, :class => "btn btn-mini btn-blue pull-right" %>
		
    		</div>
  		</div>
	</div>
</div>

<div class="span6">     
	<div class="content-box" id="addresses-wrapper">
  		<div class="content-box-header">
    		Service Address
  		</div>

  		<div class="row-fluid">
      		<div class="span12 padded narrow-control-groups">
   				<%= appointment_builder.simple_fields_for :address do |address_builder| %>
					<%= render 'addresses/address_fields', :f => address_builder %>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>


<div class="row-fluid">
<div class="span12">	

	<% if @conflicts.present? && @conflicts.size > 0 %>
		<div class="content-box">
			<div class="content-box-header">
				<i class="icon-warning-sign red"></i> Scheduling Conflicts Detected!
			</div>
			
			<div class="row-fluid">
				<div class="span12 padded">				
					<%= render 'conflicts_notification' %>
					<%= appointment_builder.input :allow_conflicts, :label => false, :as => :boolean, :inline_label => "Save Anyway?"%>
				</div>
			</div>
			
		</div>
	<% end %>

	<div class="content-box">
  		<div class="content-box-header">
    		Time and Recurrence
  		</div>

  		<div class="row-fluid">
      		<div class="span12 padded">

    		<%= render 'appointments/recurring_service_notification' %>
			
    		<%= appointment_builder.input :start_time_date, :as => :date_picker, :wrapper_html => {:class => "compact-horizontal" }, :input_html => {:class => "mirrored-start", :readonly => true, :value => @appointment.start_time.try(:strftime,'%m/%d/%Y'), :style => "background:white;cursor:pointer;width: 105px"}, :label => "Date"  %>
			
			<%= render 'appointments/time_fields_admin', :f => appointment_builder %>

			</div>
		</div>
	</div>
	
 	<div class="content-box">
  		<div class="content-box-header">
    		Details and Work Order
  		</div>

  		<div class="row-fluid">
      		<div class="span11 padded">
				<%= render 'appointments/appointment_details_fields' , :f => appointment_builder %>
				
			</div>
			<div class="span1"></div>
		</div>
	</div>    		

	
	<div class="content-box">
  		<div class="content-box-header">
    		Billing
  		</div>

  		<div class="row-fluid">
      		<div class="span12 padded">
			<%= appointment_builder.input :price, :input_html => {:style => "width:100px", :value => number_to_currency(@appointment.price)}, :as => :string, :label => "Balance Owed", :wrapper_html => {:class => 'inline'} %>
			<%= appointment_builder.input :paid, :label => false, :inline_label => "Paid", :wrapper_html => {:class => 'inline'} %>
			</div>
		</div>
	</div>
	

	<div class="content-box">
  		<div class="row-fluid">
      		<div class="span12 padded">
      			<div class="pull-right">
        			<%= f.button :submit, "Save Changes" , :class => "btn btn-green" %>
 					<% if @subscription.repeat %>
        				<%= link_to "Delete", '#delete-appointment-modal', :class => "btn btn-orange", :data => {:toggle => "modal"} %>
        			<% else %>
        				<%= link_to "Delete", @subscription, class: "btn btn-orange", method: :delete, data: { confirm: 'Are you you want to PERMANENTLY delete this appointment and all associated logs and data?' } %>
        			<% end %>
        			<%= link_to "Back", :back, :class => "btn btn-inverse", data: { confirm: "Are you sure you wish to navigate away from this page? You will lose any unsaved data."} %>
        		</div>
     		</div>
		</div>
	</div>
				

</div>
</div>

<% end %><!-- End of appointment nested form -->

<% end %><!-- end of form for subscription -->

</div>

<div class="modal fade hide" id="delete-appointment-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Do you want to...</h4>
        </div>
        <div class="modal-body">
        	<div class="alert alert-error">
        		Warning! This action will PERMANENTLY delete this appointment and any associated logs and data.
        	</div>
        	
			<%= link_to "Delete only this appointment", @appointment, :method => :delete, :class => "btn btn-success", :style => "margin-bottom: 10px;"%><hr>

        	<div class="alert alert-error">
        		Warning! This action will PERMANENTLY delete ALL appointments scheduled for this recurring service. If you want to preserve old appointment data, try inactivating it instead <%= link_to 'here', edit_subscription_path(@subscription) %>
        	</div>			

			<%= link_to "Delete all appointments scheduled for this recurring service", @subscription, :method => :delete, :class => "btn btn-danger" %>

		</div>
    </div>
	</div>
</div>

