<% provide(:title, "Confirm Mass Email") %>
<% provide(:icon, "icon-thumbs-up") %>

<%= simple_form_for @email_template, :url => send_mass_email_path, :defaults => {:required => false}, :method => :post, :html => {:class => "form-vertical"} do |f| %>

<div class="container">

<div class="row-fluid">
	<div class="span12">
    	
  	<div class="content-box">
  	<div class="content-box-header">
    	<i class="icon-envelope-alt"></i> Confirm Mass Email
  	</div>
	

	<div class="row-fluid">
		<div class="span12 padded">

		<%= render 'customer_template_commands' %>
		
		<%= f.input :send_to, :as => :hidden %>

		<%= hidden_field_tag 'id', @email_template.id %>

		<% if @email_template.new_record? %>
			<%= f.input :template_type, :label => "Template Name" %>

			<%= f.input :template_resource, :as => :hidden %>
			<%= f.input :mass_email, :as => :hidden %>
		<% end %>

		<%= render 'email_template_fields', :f => f %>

		<div style="font-size:16px;margin-bottom:10px;">
     		<strong>Email will be sent to <span class="blue"><%= @recipient_string %></span></strong>
     	</div>

		<div class="control-group">
     		<div class="controls">
     			<%= link_to 'Preview', '#', :class => "btn btn-info preview-email-template", :data => { :id => f.object.id } %>
     			
     			<%= f.button :submit, "Send Mass Email", :class => "btn btn-green pull-right" %>

        	</div>
     	</div>
     		
     	</div>
	</div>


	</div>
	
	</div><!-- End row -->
</div>
</div>

<% end %>

<%= render 'preview_modal' %>